
                                        /* MAIN, DESCRIBE */
.mainContainer{
    min-height: 100vh;
    z-index: 1;

    background-color: rgba(0, 0, 0, 0.15);
    background-size: cover;
}
.mainContainer>.mainDescribe{
    margin: 50px auto;
    width: 80%;
    min-height: calc(100vh - 200px);
    /* FLEX CONTAINER */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.mainDescribe>span{
    min-width: 180px;
    width: 40%;
    
    padding: 5%;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.35);
    color: whitesmoke;
    box-shadow: 5px 5px 30px 2px rgba(0,0,0,0.75);
    
} 
.mainDescribe>span:nth-child(1){
    margin-top:100px;
}
.mainDescribe>span:nth-child(2){
    margin-top:30px;
    margin-bottom: 70px;
}
.mainDescribe>span:nth-child(3){
    margin-top:100px;
}
.mainDescribe>span:nth-child(4){
    margin-top:30px;
    margin-bottom: 70px;
}