.main__section--about{
    position: relative;
    background-color: var(--gray);
    overflow: hidden;

}

.about{
    position: relative;
    min-height: calc(var(--sectionMinHeight) * 1.35);
    height: 135vh;
    width: 90%;
/* flex-grow: 1; */

     /* flex C */
     display: flex;
     flex-direction: column;
     /* background-color: #fff; */
     align-items: center;
     justify-content: center;

    overflow: hidden;


}
.about::before{
    content: "";
    position: absolute;
    left: var(--aboutLineLeft);
    top: 50%;
    transform: translate(-50%,-50%);

    width: 1px;
    background-color: #000;
    height: 80%;
}

.about__section{
    /* background-color: blue; */
    position: relative;
    height: 25%;
    width: 70%;
    display: flex;
    flex-direction: row;
    /* flex C */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    flex-wrap: wrap;




}
.about__describe{
    height:var(--noteHeight);
    width: var(--noteWidth);
    /* background-color: black;  */
    /* color: #fff; */
    order:var(--describeOrder);
   
     /* flex C */
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: space-between;

     /* box-sizing: border-box;
     margin-bottom: 10%; */

}
.about__h2{
    font-size: 2em;
    font-weight: 800;
}
.about__p{
    font-size: 1.2em;
    font-weight: 600;
}


/*     <section class=about__section>
                    <!-- describe wrapper -->
                    <section class="about__describe">
                        <h2 class="about__h2">
                            <span class="about__number about__number--yellow">01.</span> Passion
                        </h2>
                        <p class="about__p">
                            Lore ipsum doloro sit armet. Constructo alipi atli. Donec molls anols solitud.
                        </p>
                    </section>
                    <!-- note wrapper -->
                    <div class="about__note about__note--yellow">
                        <div class="about__amount about__amount--nights">122</div>
                        <div class="about__label">Sleepless Nights</div>
                    </div>
                    <!-- about section END -->
                </section>
 */
.about__note{
    position: relative;
    height:var(--noteHeight);
    width: var(--noteWidth);
    color: white;
    font-size: 2em;
    font-weight: 800;


    order:var(--noteOrder);
    /* background-color: yellow; */
     /* flex C */
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;

     /* box-sizing: content-box; */
     /* margin-bottom: 10%; */
    z-index: 1;

}

.about__note::before{
    content: "";
    position: absolute;
    z-index: 0;
    left: var(--noteBeforeLeft);
    top: 50%;
    transform: translate(-50%,-50%) rotate(45deg);

    width: var(--noteBeforeSize);
    height: var(--noteBeforeSize);
    background-color: var(--yellow);
}

/* yellow */
.about__note--yellow{
    background-color: var(--yellow);
}
.about__number--yellow{
    color: var(--yellow);
}


/* blue */
.about__note--blue{
    background-color: var(--blue);
}
.about__number--blue{
    color: var(--blue);
}
.about__note--blue::before{
    background-color: var(--blue);
    left: 100%;
}

/* green */
.about__note--green{
    background-color: var(--green);
}
.about__number--green{
    color: var(--green);
}
.about__note--green::before{
    background-color: var(--green);
}
.about__label{
    z-index: 1;
    text-align: center;
    /* white-space: nowrap; */
}