.main__section--skills{  
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.main__section--skills::before{  
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    transform-origin: bottom right;
    transform: translate(-.5%,-100%)rotate(-2.5deg) ;

    width: 110%;
    height: var(--skewHeight);
    /* min-height: 40px; */
    background-color: var(--gray);
}

.skills{
    min-height: 75vh;
    width: 100%;
    height: 75vh;
    margin-top: 25px;

    /* background-color: yellow; */

    /* flex C */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.skill{
    position: relative;
    /* background-color: red; */
    width: 31%;
    height: 65%;

    text-align: center;

    /* flex C */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skill__img{
    position: relative;
    margin-bottom: 12%;
}
.skill__img::before{
    box-sizing: border-box;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    /* transform: translate(2px,-2px); */
    border-top: 2px solid var(--grayDark);     
    border-right: 2px solid var(--grayDark);     

    width: 20%;
    height: 40%;

    transition: .2s linear;
}
.skill__img:hover::before{
    /* border-width: 5px; */
    right: -5px;
    top: -5px;

}
.skill__img::after{
    box-sizing: border-box;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    /* transform: translate(-2px,2px); */
    border-left: 2px solid var(--grayDark);     
    border-bottom: 2px solid var(--grayDark);     

    width: 20%;
    height: 40%;

    transition: .2s linear;
}
.skill__img:hover::after{
    /* border-width: 5px; */
    left: -5px;
    bottom: -5px;
}

.skill__h3{
margin-bottom: 3.5%;
font-size: 1.4em;
white-space: nowrap;

}
.skill__school{
    margin-bottom: 6.5%;
    
}
.skill__p{
    
}

/*   <section class="skills">

                    <!-- skill 1 -->
                    <section class="skill">
                    
                        <img src="" alt="First degree" class="skill__img">
                        <h3 class="skill__h3">Bachelor's degree</h3>
                        <span class="skill__school">New Western College</span>
                        <p class="skill__p">Lorem ipsum dolor sit amlet consecetuadising elit. Fusce grawica weit leo o
                            com erfi omare di.</p>
                    </section>

                    <!-- skill 2 -->
                    <section class="skill">
                        <img src="" alt="First degree" class="skill__img">
                        <h3 class="skill__h3">Certifications</h3>
                        <span class="skill__school">New Western College</span>
                        <p class="skill__p">Lorem ipsum dolor sit amlet consecetuadising elit. Fusce grawica weit leo o
                            com erfi omare di.</p>
                    </section>

                    <!-- skill 3 -->
                    <section class="skill">
                        <img src="" alt="First degree" class="skill__img">
                        <h3 class="skill__h3">Master's degree</h3>
                        <span class="skill__school">New Western College</span>
                        <p class="skill__p">Lorem ipsum dolor sit amlet consecetuadising elit. Fusce grawica weit leo o
                            com erfi omare di.</p>
                    </section>
 */