[class^="icon-"], [class*=" icon-"] {
  font-family: 'lyrics';
  font-style: normal;
  font-weight: normal;
 
  /* fix buttons height */
  line-height: .9em;
 
  /* you can be more comfortable with increased icons size */
  font-size: 20px;
}

 
.icon-mouse { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe800;&nbsp;'); }
.icon-search { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe805;&nbsp;'); }
.icon-menu { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0c9;&nbsp;'); }