* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(16, 55, 84);
  background-color: rgba(51, 171, 177, 1);

  overflow-x: hidden;
  /* font-family: Arial, Helvetica, sans-serif; */
 

  color: white;
}
.colorCompose{
  color: white;
  background-color:rgba(51, 171, 177, 1);

}
button, input, select{
  font-family: 'Promp';
  font-weight: bold;
}
button{
  text-transform: uppercase;
}

select::-ms-expand {
  display: none;
}

/*                                                                                            EDITOR */
                                                                     
.editor {
  
  width: 100%;


  height: 23vh;
  min-height: 150px;

  background-color: rgba(16, 55, 84);
  /* flex C */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.editor *{
  font-size: 1.2em;

}

.editor__wrapper {
  height: 100%;
  flex-basis: 50%;
  min-width: 100px;

  
  /* flex C */
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: inset 0 0 5px #000000;
}
.editor__panel {
  height: 100%;
  width: 100%;
  
  /* flex C */
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}


/*                                                                  new task */

.editor__wrapper--task {
  background-color: rgba(51, 171, 177, 1);
}
.editor__panel--task {
  flex-direction: column;
}
.editor__label--task{
  height:20%;
  display: flex;
  align-items: center;

}
.editor__category{
  position: relative;
  height: 30%;
  border: none;
  box-shadow: inset 0px -20px 10px -15px rgba(0, 0, 0, 0.75);
}
.editor__category:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.editor__category--option{
  display: none;
  height: 100%;
  width: 100%;
}
.displayBlock{
  display: block;
}
.editor__describe--task {
  flex-grow: 1;
  background-color: rgba(239, 171, 31);
  border: none;  

}
.editor__submit--task {
  flex-basis: 30%;
  border: none;
  box-shadow: inset 0px -20px 10px -15px rgba(0, 0, 0, 0.75);
  border-right: 1px solid darkgray;

}
/* .editor__e{
  <section class="editor__wrapper editor__wrapper--search">
      <form action="" class="editor__panel editor__panel--search">
        <input class="editor__search" type="text" />
      </form>
      <button class="editor__create">Create Category</button>
    </section>
} */

/*                                                                     search panel*/
.editor__wrapper--search {
  /* box-shadow: inset 0 0 10px #8a8888; */
  /* flex C */
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.editor__panel--search {
  height: 70%;
  /* flex C */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.editor__search {
  width: 80%;
  border-radius: 50px;
  padding-left: 10px;
}

.editor__create {
  height: 30%;
  width: 100%;
  border: none;
  box-shadow: inset 0px -20px 10px -15px rgba(0, 0, 0, 0.75);
}

/* section class="editor__wrapper editor__wrapper--category off">
        <input value="New Category" class="editor__describe--category" type="text" />
        <select name="editor__color--select" class="editor__color--select">
          <option value="" class="editor__color editor__color--orange"></option>
          <option value="" class="editor__color editor__color--orange"></option>
          <option value="" class="editor__color editor__color--orange"></option>
          <option value="" class="editor__color editor__color--orange"></option>
          <option value="" class="editor__color editor__color--orange"></option>
        </select>
        <!-- <input type="color" name="favcolor" value="#ff0000"> -->
      <div class="editor__nav">
        <button class="editor__submit--category">Create</button>
        <button class="editor__cancel--category">Back</button>
      </div>
    </section> */


/*                                                                  new category */
.editor__wrapper--category {
  height: 100%;
  /* flex C */
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

.editor__describe--category {
  height:30%;
}
.editor__category--bgc{
  height: 20%;

}
<<<<<<< HEAD
.editor__category--bgc{
  height: 20%;
  
=======
.editor__category--font{
  flex-basis: 20%;
>>>>>>> 861eb0bea466242887e996c07cdb52a548a60a34
}

.editor__nav--category{
  
  height: 30%;
  
  /* flex C */
  display: flex;

}
.editor__submit--category{
  border: none;
  box-shadow: inset 0px -20px 10px -15px rgba(0, 0, 0, 0.75);
  border-right: 1px solid darkgray;
  width: 70%;

}
.editor__cancel--category{
  border: none;
  box-shadow: inset 0px -20px 10px -15px rgba(0, 0, 0, 0.75);
  /* border-right: 1px solid darkgray; */
  width: 30%;
}

/*                                         COLORS SELECT                          */
/*  */
/*  */
.editor__color{
 /* font-size: .8em */
}
.editor__color--FFF200{
  background: #FFF200;
}
.editor__color--FD9406{
  background: #FD9406;
}
.editor__color--FF0000{
  background: #FF0000;
}
.editor__color--FF0080{
  background: #FF0080;
}
.editor__color--0080FF{
  background: #0080FF;
}
.editor__color--0000FF{
  background: #0000FF;
}
.editor__color--004000{
  background: #004000;
}
.editor__color--00FF00{
  background: #00FF00;
}
.editor__color--1C2168{
  background: #1C2168;
}
.editor__color--800080{
  background: #800080;
}
.editor__color--804040{
  background: #804040;
}
.editor__color--D74F6D{
  background: #D74F6D;
}
.editor__color--C0C0C0{
  background: #C0C0C0;
}
.editor__color--008080{
  background: #008080;
}
.editor__color--808000{
  background: #808000;
}
.editor__color--80FF80{
  background: #80FF80;
}






                                         
/*                                                                           MAIN LIST */
.main {
  min-height: 77vh;
  width: 100%;
  margin: 0 auto;
  /* min-width: 370px; */

  /* background: rgb(46, 48, 48); */
  font-size: .8em;
  text-align: left;

  color: whitesmoke;
  /* flex C */
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: flex-start;

  box-sizing: border-box;
  /* padding:0 5%; */
}
.main__li {
  background-color: rgba(239, 171, 31);

  height: 10vh;
  width: 100%;

  list-style-type: none;
  box-shadow: inset 0px -20px 10px -15px rgba(0, 0, 0, 0.75);
  /* box-shadow: inset 0px 20px 10px -15px rgba(0, 0, 0, 0.75); */
  font-weight: bold;

  text-transform: uppercase;
  transition: 0.5s;

  /* flex C */
  display: flex;
  /* justify-content: stretch; */
  align-items: center;

  box-sizing: border-box;

}

.main__li:nth-of-type(2n) {
  /* background: rgb(46, 48, 48); */
  background-color: rgba(254, 95, 27, 1);
}
.main__li:nth-of-type(3n) {
  /* /* background: rgb(46, 48, 48);  */
  background-color: rgba(213, 61, 19, 1);
}
.main__task {
  padding-left: 10px;
}
.main__button {
  height: 100%;
  flex-basis: 10%;
  text-align: center;
  padding: 0.2em;

  box-shadow: inset 0px -20px 10px -15px rgba(0, 0, 0, 0.75);
  /* box-shadow: inset 0px 20px 10px -15px rgba(0, 0, 0, 0.75); */

  border: none;
}
.main__button--done {
}
.main__button--done::after {
  content: "";
  background-color: green;
  width: 50px;
  height: 20px;
  z-index: 3;
}
.main__button--done::before {
  content: "";
  background-color: green;
  width: 50px;
  height: 20px;
  z-index: 3;
}

.off{
  display: none;

}














@font-face {
  font-family: "Promp";
  src: url("Prompt-Bold.ttf");
}