/* toggle classes */
.displayNone{
    display: none;
}

@keyframes goInRight{
  100%{
    transform: translateX(0);
  }
}



  @media only screen and (max-width: 1620px){
    :root{
      --wrapperSize : 80%;
      --logoSize: 50px;
    }
    body {
    }
  }



  @media only screen and (max-width: 1300px){
    :root{
      --wrapperSize : 80%;
    }
    body {
      font-size: 12px;
    }
  }

   @media only screen and (max-width: 1300px) and (orientation: portrait){
    :root{
      --sectionMinHeight: 320px;
      --wrapperWidth: 90%;
      --navWidth: 100%;
  
  }
  .nav__list{
    display:none;
  }
    .main__wrapper--lightWood{
      height: 50vh;
    }
    .main__product{
      height: 50vh;
    }
   
  }



  @media only screen and (max-width: 1000px){
    :root{
      --wrapperSize : 80%;
    }
    body {
    }
  }
  /* @media only screen and (max-width: 1000px) and (orientation: portrait){
    :root{

    }
  } */



 @media only screen and (max-width: 815px) and (orientation: landscape){
  :root{
    --sectionMinHeight: 320px;
    --wrapperWidth: 90%;
    --navWidth: 100%;

}
.nav__list{
  display:none;
}
  
    body {
    }
    .header__nav--menu{
      display: none;
    }
  }
  @media only screen and (max-width: 815px) and (orientation: portrait){
    :root{
      --wrapperSize : 80%;

    }
    body {
    }
    .header__nav--menu{
      display: none;
    }
  }




  @media only screen and (max-width: 640px) {
    :root{
      --wrapperSize : 80%;
    }
    body {
    }
  }
  /* @media only screen and (max-width: 640px) and (orientation: portrait){
    :root{

    }
  } */




  @media only screen and (max-width: 480px) {
    :root{
      --wrapperSize : 90%;
    }
    body {
      font-size: 13px;
    }
   
  }
  /* @media only screen and (max-width: 480px) and (orientation: portrait){
    :root{

    }
   
  } */




  @media only screen and (max-width: 320px) {
    :root{
      --wrapperSize : 95%;
    }
    body {
      font-size: 12px;
    }
  
  }
  /* @media only screen and (max-width: 320px) and (orientation: portrait){
    :root{

    }

  } */