.main{
    /* flex C */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main__section{
    width: 100%;
    /* flex C */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main__wrapper{
    height: 100%;
    width: 90%;
     /* flex C */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}