/*                          RESET */
*{
    margin: 0;
    padding: 0;
    font-size: 1em;
    
}

ul,ol{
  list-style: none;
}


:root{
  
  --bege : rgb(190, 166, 124);
  --silver: #a7a691;
  --white: white;
  /* --darkSilver: #464646; */
  --darkSilver: #464646;

  

  --minSectionSize: 320px;
  --wrapperSize : 60%;

  --productImgHeight : 60%;
  --videoSize: 25vh;

  --doSectionSize: 80%;
}


body{
  width: 100%;
  font-size: 26px;
  /* overflow: hidden; */
  font-family: "Anton";
  overflow-x: hidden;
}


/*                header 'header' */
.header{
  position: relative;
  background-image: url(img/wooder.png), url(img/wooder2.png);
  background-position: right top, left bottom;
  /* box-shadow: inset 0 0 0 80vw rgba(0, 0, 0, .88); */
  box-shadow:inset 100vw 0 0 0 rgba(0, 0, 0, .88), inset 35vw 0 5px 0 rgba(0, 0, 0, .15),inset -49.5vw 0 0 0 rgba(0, 0, 0, .15);


  
  background-size:50% 100%,50% 100%;
  background-repeat: no-repeat,no-repeat;
  height: 100vh;
  min-height: var(--minSectionSize);
  text-transform: uppercase;
  /* flex C */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

}
.header::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 5%;
  /* background-color: var(--white); */
  /* background-color: rgba(255, 255, 255, .95); */
  background-image: linear-gradient(90deg,rgba(255, 255, 255, .9) 70%, rgba(255, 255, 255, .35) 70%,rgba(255, 255, 255, .35)100%);

}  



/*                all nav-s WRAPPER */
.nav__wrapper{
  font-size: 1.3em;
  width: 100%;
  margin-top: 10px;
  color: var(--silver);
  font-family: 'Lobster';
  font-family: "Anton";

  

  font-weight: 500;
  font-size: .9em;
  /* flex C */
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  align-items: center;
}
/*                all nav-s */
.header__nav{
  /* flex C */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.menu__option--logo{
  color: transparent;
  /* background-color: #fff; */
  /* background-image: url(img/logoCut.png); */
  /* background-size:contain;
  background-repeat: no-repeat;
  background-position: 50% 50%; */

  /* flex E */

}
.hamb__option--logo,.menu__option--logo{
  /* text-transform: capitalize; */
  color: var(--silver);
}

/*                NAV 1 hamb */
.header__nav--hamb{
  margin-left: 1.5%;
}
.hamb__list{
  /* to be over languages menu */
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .8);
  width: 100%;
  /* flex C */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
}
.hamb__option{
  color: var(--bege);
  height: 25vh;
  line-height: 25vh;
}


/*                 NAV 2 menu */
.header__nav--menu{
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  
}

.menu__list{
  position: absolute;
  left: calc( ((100% - (var(--wrapperSize)) ) / 2) + ((var(--wrapperSize) * .3)) );
  width: calc(var(--wrapperSize) * .60);
  box-sizing: content-box;
  /* padding-right: 33%; */
  /* flex C */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamb__option:hover,.menu__option:hover{
  color: white;
}


/*                NAV 3 languages */
.header__nav--languages{

  position: relative;
  /* width: 32px;
  height: 32px; */
  /* margin-left: 15%; */
  margin-right: calc(1.5% + 5px);
}
.header__nav--languages:hover{
  color:white;
}
.header__nav--languages::after{
  content: "";
  position: absolute;
  right: 0;
  transform: translateX(100%);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--silver);

}
.languages__list{
  position: absolute;
  left: 0;
  top: 100%;
  /* transform: translateX(50%); */
  /* flex C */
  display: flex;
  flex-direction: column;
}






/* header section */
.header__slider{
  position: relative;
  color: var(--bege);
  width: var(--wrapperSize);
  flex-grow: 1;
  
  /* flex C */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.header__slider::after{
  position: absolute;
  content: "";
  right: 0%;
  bottom: -3%;
  width: 3px;
  height: 6%;
  background-color: var(--bege);
  z-index: 1;

}


/* counter(dots and number) in header */
.slider__counter{
  position: absolute;
  top: calc(50%);/*   here  we can aster the distance from top*/
  left: 0;
  height: 50%;
  transform: translate(-50%,-50%);
  /* flex C */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.counter__number{
  font-size: 1.8em;
  letter-spacing: .2em;
  transform: rotate(90deg);

  box-sizing: border-box;
  position: relative;

}
.counter__number::before{
  position: absolute;
  top: 50%;
  left: -150%;
  content: "";
  width: 100%;
  height: 10%;

  background-color: white;

  transform: translateY(-50%);

}
.counter__dot{
  display: block;
  box-sizing: border-box;
  width: .4em;
  height: .4em;
  /* margin-left: 1.5em; */
  border-radius: 50%;
  background: var(--bege);
  opacity: .25;
}
.counter__dot--selected{
  background-color: white;
  opacity: 1;
}


/* header slider */
.slide{
  position: relative;
  /* padding-left: 50px;s */
  /* margin-bottom: 5%; */
  /* width: 100%; */
  /* transform: translateY(0%); */

/* flex C */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.slide__h1{
  font-family: "Lobster";

  text-transform: capitalize;
  font-size:2.5em;
  letter-spacing: .22em;
  margin-bottom: 7%;
  
}
.slide__button{
  position: relative;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 15%;
  padding-right: 15%;

  background-color: transparent;
  border: white solid 2px;
  border-left: 1px white solid;
  border-right: 1px white solid;

  font-size: .6em;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}
.slide__button::after{
  content: "";
  position: absolute;
  right: 15%;
  top: 50%;
  width: 12%;
  height: 1px;
  background-color: #fff;

  transform: translate(0,-50%);

}
.slide__button::before{
  content: "";
  position: absolute;
  right:15%;
  top: 50%;
  width: 4px;
  height: 4px;
  border-top: 1px white solid;
  border-right: 1px white solid;

  transform:translateY(-50%) rotate(45deg);

}
.slide__button:hover{
  background-color: #fff;
  color: rgba(0, 0, 0, .8);

}
.slide__button:hover::after{
  background-color: rgba(0, 0, 0, .8); 
}
.slide__button:hover::before{
  border-color: rgba(0, 0, 0, .8);
}




/* slide info container --> mouse ico */
.slide__info{
  font-size: .7em;
  transform: translateX(-25%);
  /* flex C */
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* align-items: center; */
  /* justify-content: center; */
}
.slide__mouse{
  margin-top: 5vh;
  position: relative;
  left: -20%;
  font-size: 2em;
  transform: rotate(15deg);
  color: var(--bege);

}
.slide__direction{
  position: relative;
  left: -5%;
  

  font-size: .8em;
  color: rgba(190, 166, 124,.3);
  transform: rotate(90deg) translate(10%,70%);

  margin-top: calc(130% + 2em);
}
.slide__direction::after{
  content: "";
  position: absolute;
  left: -130%;
  top:50%;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 1);
}
.slide__direction::before{
  content: "";
  position: absolute;
  left: calc(-30% - 5px);
  top:50%;
  transform: translateY(-50%) rotate(45deg);
  width: 5px;
  height: 5px;
  border-top: 1px rgba(255, 255, 255, .99) solid;
  border-right: 1px rgba(255, 255, 255, .99) solid;
}
/* slider right label */
.slider__label{
  position: absolute;
  top: 50%;
  right: 0%;
  
  transform: translate(50%,50%) rotate(90deg);
  font-size: .5em;
}














