*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    min-height: 100vh;
    /* background-color: lightgoldenrodyellow; */
    background-color: #D8D0C5 ;
    /* background-color: rgba(216,208,197); */
    margin:0 auto;
    /* Flex Box Container */
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    text-align: center;
}
:root{
    --difLabel : 10;
    --colorRed:#721825;
    --colorBeg:#D8D0C5;
    --colorDark:#120D1E;
    --colorBlac:#1b1414;
    
}

a{
    text-decoration: none;
}
                                        /*  NAV  */
.menu{
    
    /* Flex Box Container */
    display: flex;
    flex-direction: column;
}
.menu a{
    
    color: white; 
    display: block;
    width: 100%;
    height: 100%;
}

.menu>ul{
    
    flex-basis: 50px;
    /* Flex Box Container */
    display: flex;
    flex-direction: row;
    align-items: stretch;
    box-sizing: border-box;
    
    background-color: #721825;
}
.menu>ul>li{
    flex-basis: 20%;
    font-size: 1.4rem;
    color: white;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    
    
    list-style: none;
    cursor: pointer;
    transition:.2s linear;
}
.menu>ul>li::after{
    box-sizing: content-box;
    position: absolute;
    left:0;
    top:0;
    width:20%;
    height: 50px;
    overflow: hidden;

    content: "Logo";
    background-color: #721825;
}
.menu>ul>li:nth-child(2)::after{
    left:20%;
    content: "Język angielski";
   
}
.menu>ul>li:nth-child(3)::after{
    left:40%;
    content: "Język niemiecki";
}
.menu>ul>li:nth-child(4)::after{
    left:60%;
    content: "Zaloguj się";
}
.menu>ul>li:nth-child(5)::after{
    left:80%;
    content: "O nas";
}
.menu>ul>li:hover{
    background-color: rgba(0, 0, 0, 0.15);
}
.menu>ul>li:hover::after{
    display: none;
}
.menu>ul>li:hover{
    width: 20%;
}

.pageSelector{
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    height: 7px;
    border-radius: 0 0 77% 77%;
    width: 20%;
    
    background-color: #120D1E;
}
                                        /* HEADER */
.mainHeader{
    background-color: #120D1E;
    border-radius: 0 0 40px 0;
    box-shadow:2px 5px 15px 2px rgba(0,0,0,0.75);
    color: white;
    flex-basis: 50px;
    position: absolute;
    z-index: 2;
    left: 0;
    top:50px; 
    overflow: hidden;   
}
.mainHeader>h1{
    text-align: left;
}
            /* FOOTER */
.mainFooter{
    flex-basis: 50px;
    background-color: black;
    color: white;
    line-height: 25px;
    font-size: .8rem;
}
.mainContainer{
    min-height: 100vh;
}