.header {
  position: absolute;
  height: 70px;
  width: calc(100% - 16px);
  padding: 5px;
  background-color: #fff;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;

  z-index: 4;
}

.header__h {
  flex-basis: calc(100% / 3);

  align-self: flex-start;
  font-size: 1.7rem;
  font-weight: 400;
}
.header__date {
  flex-basis: calc(100% / 3);
  align-self: flex-end;
  text-align: center;
  font-size: 1.1rem;
}
.header__a {
  color: black;
}
.header__tools {
  flex-basis: calc(100% / 3);
  align-self: flex-end;
  height: 100%;
  justify-content: space-between;
  align-items: flex-end;
}
.header__tool {
  color: grey;
}
