<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="div">
      <h2 id="formMessage"></h2>
      <form action="/applications" method="POST" class="form">
        <input
          placeholder="slimshady"
          type="text"
          class="input--name"
          name="name"
        />
        <input
          placeholder="phone"
          type="text"
          class="input--phone"
          name="phone"
        />
        <textarea
          placeholder="number"
          type="text"
          class="input--message"
          name="message"
        >
        </textarea>
        <button class="submit">adopt</button>
      </form>
    </div>
  </body>
</html>
